{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <title>Rango</title>
        <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/main.css" %}"></link>
    </head>

    <body>
        <div>
            <div class="logoutDiv">
                {% if user.is_authenticated %}
                    Hello {{user.username}}
                {% endif %}
            </div>
            <div class="logoutDiv">
            <a href="/rango/do_logout"><img src="{% static "images/appIcons/logout.png" %}" alt="logout" width="20" height="20" /></a>
            </div>
        </div>
        <div id="addItems" style="vertical-align: text-top;">
            
            
        </div>
        <div class="container">
            <div class="fake_img">
                <a href="/rango/add_category"><img src="{% static "images/appIcons/addCategory.png" %}" alt="add new category"/></a> 
            </div>
            <div class="fake_img">
                <a href="/rango/register"><img src="{% static "images/appIcons/registerUser.png" %}" alt="register user"/></a> 
            </div>
             <div class="fake_img">
                <a href="/rango/listUsers"><img src="{% static "images/appIcons/viewUsers.png" %}" alt="add new category"/></a> 
            </div>
            <div class="fake_img">
                <a class="tag" href="/rango/hey/{{ name }}">
                    <img src="{% static "images/appIcons/about.png" %}" alt="About me"/>
                </a>
            </div>
        </div>
        {% if categories %}
            <div class="container">
                <div class="listCat">
                    <ul class="tag">{% for category in categories %}</ul>
                       <li class="tag"><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                        {% endfor %}
                </div>
        {% else %}
            <strong> There are no categories present. </strong>
        {% endif %}
                
        {% if pages %}
            <div class="listCat">
                <ul class="tag"><h2 class="tag top5">Top 5 most viewed pages in any category: </h2>
                {% for page in pages %}
                    {%for i in page %}
                        <li class="tag">{{i.title}}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
        {% endif %}        
        </div>
    </body>

</html>